<h3>Buscar por region <small>{{ regionActiva | titlecase }}</small></h3>
<hr>
<h5>Seleccione la region</h5>

<!-- [class.btn-primary]="region === regionActiva" -->

<!-- [ngClass]="{
    'btn-primary': region === regionActiva,
    'btn-outline-primary': region !== regionActiva
}" -->


<div class="row">
    <div class="col">
        <button 
            *ngFor="let region of regiones" 
            [class]="getClass(region)" 
            (click)="activaRegion(region)"
        >
            {{ region | titlecase }}
        </button>
    </div>
</div>

<br>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino de busqueda: {{ regionActiva }}
</div>

<div  *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>